# environment variables
.env
.env.*

# internal vcs metadata
.apnaGit/

# dependencies
node_modules/

# logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# generated/test files
*.txt
backend/commit.json
exit