# environment variables
.env
.aws/

# internal vcs metadata
backend/.apnaGit/

# test files
*.txt


# dependencies
node_modules/
backend/node_modules/

# system files or OS files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
